.date-picker-wrap {
    min-height: 20px;
    min-width: 160px;
    z-index: 999;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 240px;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    // display:none;
}

.prev-btn,
.next-btn,
.current-date,
td {
    cursor: pointer;
    text-align: center;
}

.months-node,
.years-node {
    width: 25%;
}

.date-picker-top-handle {
    text-align: center;
}

.prev-btn,
.next-btn,
.current-date {
    font-style: normal;
    display: inline-block;
}

.prev-btn:hover,
.next-btn:hover,
.current-date:hover {
    background: #eee;
}

.current-date {
    width: 80%;
}

.prev-btn,
.next-btn {
    padding: 0 2%;
}

.date-picker-view-wrap table {
    width: 100%;
}

td[data-allow=false] {
    background: #eee;
}

td[data-today="true"] {
    background-color: #286090;
}